<div id="build-page" class="main">
  <div class="row-fluid job-page-intro">
    <div class="span12 job-title">
      <h3>
        <span ng-show="currentUser">
          <span ng-show="!job.running && project.access_level > 0"
                ng-click="startDeploy(job)"
                title="Retest &amp; Deploy"
                class="clickable test-and-deploy-action">
            <i class="fa fa-cloud-upload"></i>
          </span>
          <span ng-hide="job.running || project.access_level < 1" ng-click="startTest(job)"
                title="Retest" class="clickable test-only-action">
            <i class="fa fa-refresh"></i>
          </span>
          <a href="/{{ project.display_name }}/config" ng-hide="project.access_level < 1" title="Configure">
            <i class="fa fa-wrench"></i>
          </a>
        </span>
        <span class='job-repo'>{{ project.display_name }}</span>
        <a href="{{ project.display_url }}" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </h3>
    </div>
  </div>
  <div class="job-main">
      <div class="row-fluid job-wrap">
        <div class="col-md-8 job-left-col">
          <div class="row-fluid {{ job.status }}" id="build-metadata">
            <table>
              <tbody>
                <tr class="dashboard-row" ng-include="'/partials/dashboard/row.html'">
                </tr>
              </tbody>
            </table>
          </div>
          <div class='row job-pre-console'>
            <div class='job-pre-console-inner'>
            </div>
          </div>

          <div ng-repeat="(key, block) in statusBlocks.runner"
              class="status-{{ key }} plugin-status runner-status {{ block.attrs.class }}"
              plugin-status="{{ key }}"
              ng-bind-html="block.html"
              {{block.attrs_html}}>
          </div>

          <div ng-show="statusBlocks.provider[project.provider.id]"
               ng-init="block = statusBlocks.provider[project.provider.id]" class="status-{{ project.provider.id }} provider-status {{ block.attrs.class }}"
               plugin-status="{{ project.provider.id }}"
               ng-bind-html="block.html"
               {{block.attrs_html}}>
          </div>

          <div ng-repeat="(key, block) in statusBlocks.runner"
              class="status-{{ key }} job-plugin-status {{ block.attrs.class }}"
              plugin-status="{{ key }}"
              ng-bind-html="block.html"
              {{block.attrs_html}}>
          </div>

          <div class="console-output">
            <i class="icon-gear icon-light icon-spin loading-icon" ng-show="loading"></i>
            <div ng-include="'/partials/build/console.html'"></div>
            <div class="build-error" ng-show="job.status === 'errored' && job.error">
              <div class="alert alert-error">{{ job.error.message }}</div>
              <pre>{{ job.error.stack }}</pre>
            </div>
          </div>
        </div>

        <div class='col-md-4 job-detail-sidebar pull-right' ng-include="'/partials/build/history.html'">
        </div>
      </div>
  </div>
</div>